@require(path_for)
<html>
    <head>
        <title>Guestbook</title>
        <link href="@path_for('static', path='site.css')"
            type="text/css" rel="stylesheet" />
        <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script type="text/javascript"
        src="@path_for('static', path='site.js')"></script>
    </head>
    <body>
        <div id="main">
            @def content():
            @end
            @content()
        </div>
    </body>
</html>
