include Makefile
include README.rst
include content/maintenance.html
include content/static/robots.txt
include etc/config.ini
include etc/memcached.conf
include etc/nginx.conf
include etc/sysctl.conf
include src/*.py
recursive-include content/static/css *.css
recursive-include content/static/img *.ico *.jpg *.gif *.png
recursive-include content/static/js *.js
recursive-include content/templates-jinja2 *.html
recursive-include content/templates-mako *.html
recursive-include content/templates-preprocessor *.html
recursive-include content/templates-tenjin *.html
recursive-include content/templates-wheezy *.html
recursive-include i18n *.po
