<%inherit file="/shared/master.html"/>
<%block name="title">About</%block>
<div id="about">
    <h2>About</h2>
    <p>Proin at lorem vel dolor pharetra aliquam. Phasellus auctor,
    nunc vitae lobortis pretium, mauris ligula sagittis quam, nec
    volutpat est arcu a diam. Nunc nisi augue, sollicitudin eu
    adipiscing ac, commodo at urna. Nullam sit amet odio sit amet
    elit dictum ultrices.</p>
    <p>Try out the following responses:
    </p>
    <ul>
        <%block cached="True" cache_key="${route_args.locale}">
        <li><a href="${path_for('bad_request')}">Bad Request</a></li>
        <li><a href="${path_for('forbidden')}">Forbidden</a></li>
        <li><a href="${path_for('not_found')}">Not Found</a></li>
        <li><a href="${path_for('internal_error')}">Internal Error</a></li>
        </%block>
    </ul>
    <p><a href="${path_for('members_only')}">Members only</a> page is
    protected by <i>@authorize</i> decorator for registered members.
    <a href="${path_for('business_only')}">Business only</a> page is
    protected by <i>@authorize(roles=['business'])</i> decorator
    and accessable for business accounts only.
    </p>
    <p>Take a look at <a href="${path_for('widgets')}">widgets</a>
    available.
    </p>
    <p><a id="st" href="${path_for('now')}">Click</a> to
    make an ajax call
    to get json response with server time. The server time is:
    <span id="now">N/A</span>
    </p>
</div>
<%block name="script">
<script language="javascript" type="text/javascript">
    $(document).ready(function() {
        $("#st").click(function(e){
            e.preventDefault();
            $.getJSON(this.href, function(data) {
                $.each(data, function(key, val) {
                    $("#" + key).text(val)
                })
            });
        });
    })
</script>
</%block>
