<%inherit file="/shared/master.html"/>
<%block name="title">About</%block>
<div id="about">
    <h2>About</h2>
    <p>Proin at lorem vel dolor pharetra aliquam. Phasellus auctor,
    nunc vitae lobortis pretium, mauris ligula sagittis quam, nec
    volutpat est arcu a diam. Nunc nisi augue, sollicitudin eu
    adipiscing ac, commodo at urna. Nullam sit amet odio sit amet
    elit dictum ultrices.</p>
    <p>Try out the following responses:
    </p>
    <ul>
        <%block cached="True" cache_key="${route_args.locale}">
        <li><a href="${path_for('bad_request')}">Bad Request</a></li>
        <li><a href="${path_for('forbidden')}">Forbidden</a></li>
        <li><a href="${path_for('not_found')}">Not Found</a></li>
        <li><a href="${path_for('internal_error')}">Internal Error</a></li>
        </%block>
    </ul>
</div>
