<%inherit file="/shared/master.html"/>
<%block name="title">About</%block>
<div id="about">
    <h2>About</h2>
    <p>Proin at lorem vel dolor pharetra aliquam. Phasellus auctor,
    nunc vitae lobortis pretium, mauris ligula sagittis quam, nec
    volutpat est arcu a diam. Nunc nisi augue, sollicitudin eu
    adipiscing ac, commodo at urna. Nullam sit amet odio sit amet
    elit dictum ultrices.</p>
    <p>Vivamus a pellentesque dui. Maecenas vitae nisi neque, sed
    lobortis dui. Sed molestie velit in felis luctus vitae varius
    felis mattis.</p>
    <p>Sed quis rhoncus est. Nam eu nulla vel mi porttitor tempus
    non et tellus</p>
</div>
