<%inherit file="/shared/master.html"/>
<%block name="title">Widgets</%block>
<div id="widgets">
    <h2>Widgets!</h2>
    <p>
    This is demostration page of
    <a href="http://pypi.python.org/pypi/wheezy.html">wheezy.html</a>
    widgets.
    Please note that
    <a href="http://docs.makotemplates.org/en/latest/filtering.html#expression-filtering">expression filtering</a>
    works in case
    <a href="http://packages.python.org/wheezy.html/userguide.html#mako">widget_preprocessor</a>
    is enabled.
    </p>
    % if errors:
    Click <a href="${path_for('widgets')}">here</a> to hide errors.
    You are looking at <b>widgets with error reported</b>.
    % else:
    Click <a href="${path_for('widgets-with-errors')}">here</a> to see how widget looks with errors.
    You are looking at <b>widgets with no error</b> reported.
    % endif

    <h3>hidden</h3>
    <p>
<pre><%text filter="h">
##${model.pref.hidden()}
</%text><%block filter="h">
${model.pref.hidden()}
</%block></pre>
    </p>

    <h3>multiple_hidden</h3>
    <p>
<pre><%text filter="h">
##${model.pref.multiple_hidden()}
</%text><%block filter="h">
${model.prefs.multiple_hidden()}
</%block></pre>
    </p>

    <h3>label</h3>
    <p>
<pre><%text filter="h">
##${model.username.label('Username')}
##${model.username.label('<i>*</i>Username', class_="inline")}
</%text><%block filter="h">
${model.username.label('Username')}
${model.username.label('<i>*</i>Username', class_="inline")}
</%block></pre>
    </p>

    <h3>textbox, password and checkbox</h3>
    <p>
<pre><%text filter="h">
##${model.username.textbox(autocomplete='off')}
##${model.password.password(maxlength=10)}
##${model.min_amount.emptybox()}
##${model.remember_me.checkbox()}
</%text><%block filter="h">
${model.username.textbox(autocomplete='off')}
${model.password.password(maxlength=10)}
${model.min_amount.emptybox()}
${model.remember_me.checkbox()}
</%block></pre>
    </p>

    <h3>multiple_checkbox</h3>
    <p>
<pre><%text filter="h">
##${model.scm.multiple_checkbox(choices=scm)}
</%text><%block filter="h">
${model.scm.multiple_checkbox(choices=scm)}
</%block></pre>
    </p>

    <h3>textarea</h3>
    <p>
<pre><%text filter="h">
##${model.notes.textarea()}
##${model.notes.textarea(rows=10)}
</%text><%block filter="h">
${model.notes.textarea()}
${model.notes.textarea(rows=10)}
</%block></pre>
    </p>

    <h3>radio</h3>
    <p>
<pre><%text filter="h">
##${model.scm.radio(choices=scm)}
</%text><%block filter="h">
${model.scm.radio(choices=scm)}
</%block></pre>

    <h3>dropdown (select), listbox (multiple_select)</h3>
    <p>
<pre><%text filter="h">
##${model.scm.dropdown(choices=scm)}
##${model.scms.listbox(choices=scm)}
</%text><%block filter="h">
${model.scm.dropdown(choices=scm)}
${model.scms.listbox(choices=scm)}
</%block></pre>

    <h3>info, warning and error</h3>
    <p>
<pre><%text filter="h">
##${message.info()}
##${message.warning()}
##${model.error()}
##${model.username.error()}
##${model.password_status.warning()}
##${model.username_status.info()}
##${model.username_status.warning()}
</%text><%block filter="h">
${message.info()}
${message.warning()}
${model.error()}
${model.username.error()}
${model.password_status.warning()}
${model.username_status.info()}
${model.username_status.warning()}
</%block></pre>
    </p>
</div>
