<%inherit file="/shared/master.html"/>
<%block name="title">Sign Up</%block>
<div id="signup">
    <h2>
        Create a New Account</h2>
    <p>
    Use the form below to create a new account.
    </p>
    <p>
    Passwords are required to be a minimum of 8 characters
    in length.
    </p>
    ${registration.error()}
    <form action="${path_for('signup')}" method="post">
        <div>
            <fieldset>
                <legend>Account Information</legend>
                <p>
                ${credential.username.label('Username:')}
                ${credential.username.textbox(autocomplete='off')}
                ${credential.username.error()}
                </p>
                <p>
                ${account.display_name.label('Display name:')}
                ${account.display_name.textbox(autocomplete='off')}
                ${account.display_name.error()}
                </p>
                <p>
                ${account.email.label('Email:')}
                ${account.email.textbox(autocomplete='off')}
                ${account.email.error()}
                </p>
                <p>
                ${credential.password.label('Password:')}
                ${credential.password.password(autocomplete='off', maxlength=12)}
                ${credential.password.error()}
                </p>
                <p>
                ${viewdata.confirm_password.label('Confirm password:')}
                ${viewdata.confirm_password.password(autocomplete='off', maxlength=12)}
                ${viewdata.confirm_password.error()}
                </p>
                <p>
                ${viewdata.questionid.label('Security question:')}
                ${viewdata.questionid.dropdown(choices=questions.model)}
                ${viewdata.questionid.error()}
                </p>
                <p>
                ${registration.answer.label('Answer:')}
                ${registration.answer.textbox(autocomplete='off', maxlength=30)}
                ${registration.answer.error()}
                </p>
                <p>
                <input name="register" type="submit" value="Register" />
                <input name="__RequestVerificationToken" type="hidden" value="" />
                </p>
            </fieldset>
        </div>
    </form>
</div>
