<%inherit file="/shared/master.html"/>
<%block name="title">Sign In</%block>
<div id="signin">
    <h2>
        Sign In</h2>
    <p>
    Please enter your username and password.
    <a href="${path_for('signup')}">Sign up</a>
    if you don't have an account.
    </p>
    ${credential.error()}
    <form action="${path_for('signin')}" method="post">
        ${xsrf()}
        <div>
            <fieldset>
                <legend>Account Credentials</legend>
                <p>
                ${credential.username.label('Username:')}
                ${credential.username.textbox(autocomplete='off')}
                ${credential.username.error()}
                </p>
                <p>
                ${credential.password.label('Password:')}
                ${credential.password.password(autocomplete='off', maxlength=12)}
                ${credential.password.error()}
                </p>
                <p>
                ${viewdata.remember_me.checkbox()}
                ${viewdata.remember_me.label('Remember me?', class_='inline')}
                ${viewdata.remember_me.error()}
                </p>
                <p>
                <input type="submit" name="signin" value="Sign In"
                    onclick="this.disabled=true;" />
                </p>
            </fieldset>
            <i><b>demo</b> user password is P@ssw0rd. You can press 'Ctrl'
                + '1' to auto complete information.</i>
        </div>
    </form>
</div>
