<%inherit file="/shared/master.html"/>
<%block name="title">Sign Up</%block>
<div id="signup">
    <h2>
        Create a New Account</h2>
    <p>
    Use the form below to create a new account.
    </p>
    <p>
    Passwords are required to be a minimum of 8 characters
    in length.
    </p>
    <form action="" method="post">
        <div>
            <fieldset>
                <legend>Account Information</legend>
                <p>
                <label for="username">
                    Username:</label>
                <input autocomplete="off" id="username" name="username"
                type="text" value="" />
                </p>
                <p>
                <label for="display_name">
                    Display name:</label>
                <input autocomplete="off" id="display_name" name="display_name"
                type="text" value="" />
                </p>
                <p>
                <label for="email">
                    Email:</label>
                <input autocomplete="off" id="email" name="email" type="text"
                value="" />
                </p>
                <p>
                <label for="password">
                    Password:</label>
                <input autocomplete="off" id="password" maxlength="12" name="password"
                type="password" />
                </p>
                <p>
                <label for="confirm_password">
                    Confirm password:</label>
                <input autocomplete="off" id="confirm_password" maxlength="12"
                name="confirm_password" type="password" />
                </p>
                <p>
                <label for="questionid">
                    Security Question:</label>
                <select id="questionid" name="questionid">
                    <option value="1">Favorite number</option>
                    <option value="2">City of birth</option>
                    <option value="3">Favorite color</option>
                </select>
                </p>
                <p>
                <label for="answer">
                    Answer:</label>
                <input autocomplete="off" id="answer" name="answer" size="30"
                type="text" value="" />
                </p>
                <p>
                <input name="register" type="submit" value="Register" />
                <input name="__RequestVerificationToken" type="hidden" value="" />
                </p>
            </fieldset>
        </div>
    </form>
</div>
